

.kep{
    width: 100%;
    height: 11rem;
}
.kapcsolat{
   
    width: 100px;
border-radius: 10px;
position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99; 
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
 

}
.kapcsolat a {
    text-decoration: none;
    color: white;
}
body{
    background-color: rgb(174, 224, 212);
}
@media screen and (max-width: 600px) {
    .kartya{
        max-width: 75%;
    }
}
.kep1{
    width: 250px;
    height: 250px;
    border-radius:600px;
    
}
a:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(138, 238, 177);
}
a{
    text-decoration: none;
    color: blue;
}
#newtonkep{
    width: 200px;
}
#tablazat{
    width: 75%;
}
#card1,#card2{
    width: 80%;
}
#card1header,#card2header{
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    #carusel{
        max-width: 75%;
    }
}
@media screen and (min-width: 600px) {
    #carusel{
        max-width: 40%;
    }
}
.alcim{
    color: black;
}
#alcim1{
    color: whitesmoke;
}
.felfedezes{
    width: 20rem;
}

.input{
    width: 30%;
}
.torvenyei{
   width: 20rem;
   height: 50rem; 
}
.tor{
    width: 20rem;
    height: 39rem;
}
@media screen and (max-width: 991px) {
    .torv{
        height: 39rem;
    }
}
@media screen and (min-width: 1400px) {
    .torv{
        width: 20rem;
        height: 39rem;
    }
}
@media screen and (max-width: 1399px) {
    .torv{
        width: 20rem;
        height: 50rem;
    }
}


